<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TrainSim</title>
    <link rel="stylesheet" type="text/css" href="../styles/main_menu.css">
  </head>
  <body>
    <div id="cont">
        <div id="menu"></div>

        <div id="new_game">
          <form id="player">
            <input name="username" placeholder="Введи желаемое имя">
            <button type="submit">Start</button>
          </form>
          <div id="map"></div>
          <button id="regenerate">Сгенерировать заново</button>
        </div>

    </div>
    <script type="text/javascript" src="../scripts/main_menu.js"></script>
  </body>
</html>
